<h1>Course Query System</h1>
<%= link_to 'New course', :controller => 'courses', :action => 'new' %>
<ul>
<% @courses.each do |course| %>
  <li>
 	  <%= course.name %>
  <%= link_to 'Show', :controller => 'courses', :action => 'show', :id => course %>
  <%= link_to 'Edit', :controller => 'courses', :action => 'edit', :id => course %>
  <%= link_to 'Delete', :controller => 'courses', :action => 'destroy', :id => course %>
  </li>
<% end %>
</ul>


<%= form_tag("courses",method:"get") do%>
<%= label_tag ("Name")%>
<%= text_field_tag(:name) %>
<%= label_tag ("Teacher")%>
<%= text_field_tag(:teacher) %>
<%= label_tag ("Time")%>
<%= text_field_tag(:time) %>
<%= submit_tag("Search")%>


<%end%>

